@font-face {
  font-family: 'NotoSerifJP';
  font-style: normal;
  font-weight: 500;
  src: url('/assets/fonts/NotoSerifJP/NotoSerifJP-Medium.otf') format('woff');
  font-display: swap;
}
body {
  font-family: 'NotoSerifJP', serif, sans-serif;
}
